# Environment
ENVIRONMENT=Production
# veya Test için: ENVIRONMENT=Test

# Version
VERSION=latest

# Domain
DOMAIN=monitrang.com
# Test için: DOMAIN=test.monitrang.com

# OpenAPI Server Path
OPENAPI_SERVER_PATH=https://monitrang.com
# Test için: OPENAPI_SERVER_PATH=https://test.monitrang.com

# MongoDB
MONGO_CONNECTION_STRING=mongodb://admin:CHANGE_ME@mongo:27017
MONGO_DATABASE_NAME=mngkeeper

# Keycloak
KEYCLOAK_BASE_URL=http://keycloak:8080
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME
KEYCLOAK_CLIENT_ID=mng-keeper-admin
KEYCLOAK_CLIENT_SECRET=CHANGE_ME
KEYCLOAK_DEFAULT_ADMIN_PASSWORD=CHANGE_ME

# Redis
REDIS_CONNECTION_STRING=redis:6379,password=CHANGE_ME

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=CHANGE_ME
RABBITMQ_VIRTUALHOST=/

# MQTT
MQTT_BROKER_HOST=mosquitto
MQTT_BROKER_PORT=1883
MQTT_USERNAME=monitrang
MQTT_PASSWORD=CHANGE_ME
MQTT_TOPIC_PREFIX=MNG

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=CHANGE_ME
MINIO_USE_SSL=false
MINIO_REGION=us-east-1

# Application URLs
MNGKEEPER_URL=https://mngkeeper:5001

# Certificate DNS
CERTIFICATE_DNS=mngkeeper

